{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top has-background-grey-lighter is-family-sans-serif">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deimos - ¡Compra tus entradas para tus eventos!</title>
    <link rel="icon" type="image/png" href="{% static 'img/icono.png' %}">
    <link rel="stylesheet" href="{% static 'css/bulma_deimos.css' %}">
    <link rel="stylesheet" href="{% static 'css/swal.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma-popver.min.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

{% include "base/navbar.html" %}

<body>
    {% block contenido %}

    {% endblock contenido %}

    {% include "base/footer.html" %}

</body>
{% block js %}

{% endblock js %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{% static 'js/deimos.js' %}"></script>
</html>