{% load static %}

<nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% if user.tipo_user.id == 1 %}{% url 'entradas_vendidas' %}{% elif user.tipo_user.id == 2 %}{% url 'process' %}{% else %}{% url 'home' %}{% endif %}">
            <img src="{% static '/img/logo.png' %}" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            {% if user.tipo_user.nombre == "Administrador" %}
            <a class="navbar-item" href="{% url 'entradas_vendidas' %}">
                Entradas Vendidas
            </a>
            <a class="navbar-item" href="{% url 'admin' %}">
                Eventos
            </a>
            <a class="navbar-item" href="{% url 'user' %}">
                Usuarios
            </a>
            {% elif user.tipo_user.nombre == "Recepcionista" %}
            <a class="navbar-item" href="{% url 'process' %}">
                Procesar
            </a>
            {% elif user.tipo_user.nombre == "Comprador" %}
            <a class="navbar-item" href="{% url 'home' %}">
                Eventos
            </a>
            <a class="navbar-item" href="{% url 'ticket' %}">
                Mis Entradas
            </a>
            <a class="navbar-item" href="{% url 'perfil' %}">
                Mi perfil
            </a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                {% if user.nombre != None %}
                <h1 class="subtitle is-family-secondary has-text-white is-6">
                    ¡Hola, {{user.nombre}} {{user.apellido}}! / 
                    <a class="is-link" href="{% url 'logout' %}">
                        Cerrar sesión
                    </a>
                </h1>
                {% else %}
                <div class="buttons">
                    <div class="popover is-popover-bottom">
                        <button class="button is-primary popover-trigger" onclick="javascript:mostrarSignUp()" >Regístrate</button>
                        <div class="popover-content has-background-light" id="popsignUp">
                            <form method="POST">
                            {% csrf_token %}
                                <div class="field">
                                    <label class="label">Usuario:</label>
                                    <div class="control">
                                        <input class="input" id="usernameSU" type="text"
                                            placeholder="Nombre de Usuario" required/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Correo:</label>
                                    <div class="control">
                                        <input class="input" id="emailSU" type="email" placeholder="Correo" required/>
                                    </div>
                                </div>
                                <div class="has-text-centered">
                                    <a class="button is-danger" onclick="javascript:redirectSignUp();" type="submit">
                                        Registrar
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="popover is-popover-bottom" style="margin-right:40px !important;">
                        <button class="button is-dark popover-trigger" onclick="javascript:mostrarLogin()">Iniciar Sesión</button>
                        <div class="popover-content has-background-light" id="poplogin" style="max-width:160%">
                            {% csrf_token %}
                            <form id="login">
                                <div class="field">
                                    <label class="label">Usuario:</label>
                                    <div class="control">
                                        <input class="input" id="username" type="text"
                                            placeholder="Nombre de Usuario" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Contraseña:</label>
                                    <div class="control">
                                        <input class="input" id="password" type="password" placeholder="Contraseña" />
                                    </div>
                                </div>
                                <div class="has-text-centered">
                                    <a class="button is-danger" onclick="javascript:login();">
                                        Iniciar Sesión
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="is-black has-text-black has-background-black">
                        
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>