{% extends "base/base.html" %}

{% block contenido %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-family-primary">
                Administrador de Eventos
            </h1>
            <h2 class="subtitle is-family-secondary has-text-justified">
                A continuación podrás registrar, consultar, modificar y eliminar los eventos que desees.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if object_list %}
        <h1 class="title is-family-primary">Eventos
            <button class="button is-big is-pulled-right is-primary is-rounded is-medium has-tooltip-link"
                data-tooltip="Crear evento nuevo" onclick="javascript:registrarEvento();">
                <span class="icon is-small">
                    <i class="fas fa-plus fa-lg">
                    </i>
                </span>
            </button>
        </h1>
        <br />
        <div class="tile is-ancestor" style="flex-wrap: wrap;">
        {% for evento in object_list %}
            <div class="tile is-4 is-parent">
                <div class="box">
                    <article class="tile is-child has-text-justified" style="height: 85%;">
                        <div class="subtitle is-family-secondary">
                            <strong>{{evento.nombre}}</strong>
                        </div>
                        <p>
                            {{evento.descripcion}}
                        </p>
                        <p>
                            <strong>Lugar: </strong>{{evento.lugar}}
                        </p>
                        <p>
                            <strong>Fecha: </strong>{{evento.fecha}}
                        </p>
                        <p>
                            <strong>Hora: </strong>{{evento.hora|time:"h:i a"}}
                        </p>
                        <p>
                            <strong>Precio: </strong>Bs. {{evento.precio}}
                        </p>
                        <hr />
                        <p>
                            <strong>Capacidad Máxima Permitida: </strong>{{evento.aforo}}.
                        </p>
                        <p>
                            <strong>Entradas Disponibles: </strong>{{evento.EntradasDisponibles}}.
                        </p>
                        <p class="is-centered">
                            <strong>Entradas Vendidas: </strong>{{evento.EntradasVendidas}}.
                            <a class="button is-warning is-small">Ver</a>
                        </p>
                        <p>
                            <strong>Total Recaudado: </strong>Bs. {{evento.MontoRecaudado}}.
                        </p>
                    </article>

                    <div class="has-text-centered" style="height: 15%;">
                        <br />
                        <a class="button is-info" onclick="javascript:modificarEvento();">Modificar</a>
                        <a class="button is-primary" onclick="javascript:eliminarEvento();">Eliminar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <h1 class="title is-family-primary">En este momento no hay eventos registrados. ¿Y si registras uno? :-)
        </h1>
        {% endif %}
    </div>
</section>

<div class="modal" id="modal-modE">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title has-text-centered has-text-white">Modificar Evento</p>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Nombre:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Fecha: </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="number" />
                        </p>
                    </div>
                </div>

                <div class="field-label is-normal">
                    <label class="label">Hora:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="number" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Precio:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="number" />
                        </p>
                    </div>
                </div>

                <div class="field-label is-small">
                    <label class="label">Aforo Máximo:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="number" />
                        </p>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Descripción:</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Descripción"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot has-background-light">
            <div class="has-text-centered">
                <a class="button is-success" onclick="javascript:aceptarModE();">Guardar</a>
                <a class="button is-primary"
                    onclick="javascript:$('#modal-modE').removeClass('is-active');">Cancelar</a>
            </div>
        </footer>
    </div>
</div>

<div class="modal" id="modal-regE">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title has-text-centered has-text-white">Registrar Evento</p>
        </header>
        <section class="modal-card-body">
            <form id="regE">
                {% csrf_token %}
                <div class="field is-horizontal">
                    <div class="field-label is-normal  has-text-left">
                        <label class="label">Nombre:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" id="nombRE" required />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Fecha: </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="date" id="fechRE" required />
                            </p>
                        </div>
                    </div>

                    <div class="field-label is-normal">
                        <label class="label">Hora:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="time" id="horRE" required />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal has-text-left">
                        <label class="label">Lugar:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="text" id="lugRE" required />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Precio:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" id="precRE" required />
                            </p>
                        </div>
                    </div>

                    <div class="field-label is-small">
                        <label class="label">Aforo Máximo:</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input class="input" type="number" id="afRE" required />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Descripción:</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Descripción" id="descRE" required></textarea>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot has-background-light">
            <div class="has-text-centered">
                <a type="submit" class="button is-success" onclick="javascript:aceptarRegE();">Guardar</a>
                <a class="button is-primary"
                    onclick="javascript:$('#modal-regE').removeClass('is-active');">Cancelar</a>
            </div>
        </footer>
    </div>
</div>
{% endblock %}