{% extends "base/base.html" %}

{% block contenido %}
<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-family-primary">
                Mis entradas.
            </h1>
            <h2 class="subtitle is-family-secondary has-text-justified">
                Revisa, confirma y consulta las entradas que has comprado hasta ahora.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {% if object_list %}
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead class="has-background-dark">
                <th class="has-background-dark has-text-white has-text-centered">Evento</th>
                <th class="has-background-dark has-text-white has-text-centered">Fecha de Compra</th>
                <th class="has-background-dark has-text-white has-text-centered">Cantidad</th>
                <th class="has-background-dark has-text-white has-text-centered">Precio</th>
                <th class="has-background-dark has-text-white has-text-centered">Opciones</th>
            </thead>
            <tbody>
                {% for entrada in object_list %}
                <tr>
                    <td class="has-text-centered">{{entrada.evento.nombre}}</td>
                    <td class="has-text-centered">{{entrada.fecha}}</td>
                    <td class="has-text-centered">{{entrada.cantidad}}</td>
                    <td class="has-text-centered">Bs. {{entrada.costo}}</td>
                    <td class="has-text-centered">
                        <a class="button is-primary" href="{% url 'consultar_entrada' entrada.id %}">Ver</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h1 class="title is-family-primary is-4">Aún no compras entradas. <a href="{% url 'home' %}">¿Deseas comprar
                    alguna?</a></h1>
            {% endif %}
        </table>
    </div>
</section>
{% endblock contenido %}