{% extends "base/base.html" %}
{% block contenido %}
<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-family-primary">
                ¡Entrada procesada con éxito!
            </h1>
            <h2 class="subtitle is-family-secondary has-text-justified">
                La entrada es válida. Puedes acceder al recinto.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-centered">
        <div class="column is-four-fifths">
            <div class="content">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div class="title is-family-primary has-text-justified">
                                La entrada es para: "{{entrada.evento.nombre}}"
                            </div>
                        </div>
                        <div class="columns is-centered has-text-centered">
                            <div class="column has-background-light">
                                <div class="subtitle is-family-primary is-5"><strong>Datos de
                                        la Entrada:</strong></div>
                                <p><strong>Fecha de compra: </strong>{{entrada.fecha}}</p>
                                <p><strong>Cantidad comprada: </strong>{{entrada.cantidad}}
                                </p>
                            </div>
                            <div class="column has-background-light">
                                <div class="subtitle is-family-primary is-5"><strong>Datos del Evento:</strong></div>
                                <p><strong>Lugar: </strong>{{entrada.evento.lugar}}</p>
                                <p><strong>Fecha: </strong>{{entrada.evento.fecha}}</p>
                                <p><strong>Hora: </strong>{{entrada.evento.hora|time:'h:i a'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="has-text-centered">
                        <a class="button is-danger"
                            href="{% url 'process' %}">Seguir procesando</a>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}