{% load static %}

<footer class="footer has-background-dark has-text-white-ter">
    <div class="has-text-centered">
        <p>
            <p><img src="{% static 'img/logo.png' %}" style="width:15%;height:auto;"></p>
            <b>Deimos</b> por <a href="https://jgthms.com">Ecotecno Team</a> es un proyecto correspondiente
            a la asignatura Base de Datos, del 8vo semestre de la Universidad Centroccidental Lisandro Alvarado.</p><p><br/>
             Hecho por Albert Acevedo, Gabriel Roa y Marco Padua.</p>
        </p>
    </div>
</footer>