{% extends "base/base.html" %}

{% block contenido %}
<section class="hero is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-family-primary">
        ¡Bienvenido a Deimos!
      </h1>
      <h2 class="subtitle is-family-secondary has-text-justified">
        Deimos es tu sistema de compra de entradas en línea. Registra tu participación, cancela tu entrada y obtén un
        código QR para acceder al evento. Rápido, eficiente y ecológico. Eso es Deimos.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {% if object_list %}
    <h1 class="title is-family-primary">Eventos actuales</h1>

    <div class="tile is-ancestor" style="flex-wrap: wrap;">

      {% for evento in object_list %}
      <div class="tile is-4 is-parent">
        <div class="box">
          <article class="tile is-child has-text-justified" style="height: 78%;">
            <div class="subtitle is-family-secondary"><strong>{{evento.nombre}}</strong></div>
            <p>{{evento.descripcion}}</p>
            <p><strong>Lugar: </strong>{{evento.lugar}}</p>
            <p><strong>Fecha: </strong>{{evento.fecha}}</p>
            <p><strong>Hora: </strong>{{evento.hora|time:'h:i a'}}</p>
            <p><strong>Precio: </strong>Bs. {{evento.precio}}</p>
          </article>

          <div class="has-text-centered" style="height: 22%;">
            <br />
            <a class="button is-primary" onclick="javascript:comprarEntrada(1);">Comprar</a>
            <a class="button is-success">Compartir</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% else %}
    <h1 class="title is-family-primary">No hay eventos disponibles. ¡Vuelve más tarde!</h1>
    {% endif %}
  </div>
</section>
{% endblock contenido %}