{% extends "base/base.html" %}

{% block contenido %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-family-primary">
                Completar Registro
            </h1>
            <h2 class="subtitle is-family-secondary has-text-justified">
                A continuación podrás completar los datos para registrar.
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="box">
            <article class="tile is-child has-text-justified" style="height: 85%;">
                <form id="signUp" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                {% for error in form.errors %}
                {{error.message}}
                {% endfor %}
                {% else %}
                {% endif %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Usuario: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" value="{{username}}" name="username"
                                        id="id_username" />
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-normal">
                            <label class="label">Nombre: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="nombre" id="id_nombre" />
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-normal">
                            <label class="label">Correo: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="email" value="{{email}}" name="correo" id="id_correo" />
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Sexo: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <div class="select">
                                        <select name="sexo" id="id_sexo">
                                            <option value="M" selected>Masculino</option>
                                            <option value="F">Femenino</option>
                                            <option value="O">Otro</option>
                                        </select>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-small">
                            <label class="label">Fecha de Nacimiento: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="date" name="fecha_nacimiento" id="id_fecha_nacimiento" />
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-small">
                            <label class="label">Organización donde trabaja: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <div class="select">
                                        <select name="organizacion" id="id_organizacion">
                                            {% for organizacion in organizaciones %}
                                            <option value="{{organizacion.id}}">{{organizacion.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Puesto: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="puesto" id="id_puesto" />
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-normal">
                            <label class="label">Contraseña: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="password" name="password1" id="id_password1" />
                                </p>
                            </div>
                        </div>

                        <div class="field-label is-small">
                            <label class="label">Confirmar Contraseña: </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="password" name="password2" id="id_password2" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="has-text-centered" style="height: 15%;">
                        <br />
                        <input type="submit" class="button is-info" value="Registrar" />
                    </div>
                </form>
            </article>
        </div>
    </div>
</section>
{% endblock %}