{% extends "base.html" %}

{% block contenido %}
<section class="hero is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-family-primary">
                Usuarios en el sistema.
            </h1>
            <h2 class="subtitle is-family-secondary has-text-justified">
                A continuación, un listado de usuarios que están registrados actualmente en el sistema.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <th class="has-background-dark">
                <td class="has-background-dark has-text-white">Nombre de usuario</td>
            </th>
            <tr>
                <td>azrael42</td>
            </tr>
        </table>
    </div>
</section>
{% endblock contenido %}